<div *ngIf="!iframe" class="downContainer">
  <a
    *ngIf="directDownload == true"
    class="icon"
    [href]="link"
    download
    style="padding-left:30px"
  >
    <mat-icon>cloud_download</mat-icon>
  </a>
  <a [href]="link">
    <span class="title">
      {{ title }}
    </span>
  </a>
</div>
<div *ngIf="iframe" class="downContainer">
  <button mat-raised-button (click)="displayIframe = !displayIframe">
    {{ title }}
  </button>

  <div
    *ngIf="displayIframe"
    style="position:fixed;top:60px;left:-10px;width:100vw;height:calc(100vh - 60px);z-index: 100;"
  >
    <button
      mat-raised-button
      (click)="displayIframe = !displayIframe"
      style="position:fixed;top:70px;left:10px;z-index: 120;"
    >
      Fermer {{ title }}
    </button>
    <iframe
      [title]="title"
      [src]="safelink"
      allowfullscreen
      style="position:absolute;top:0;left:0;width:100%;height:100%;"
    ></iframe>
  </div>
</div>
