<div class="container">
  <div>
    <img width="200" src="assets/frameworks.png" />
  </div>
  <mat-list>
    <mat-list-item>
      <app-download
        [title]="'Cours Frameworks'"
        [iframe]="true"
        [link]="'./slides_frontends/index.html'"
        [directDownload]="false"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'frontends.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
  </mat-list>
</div>
