.contact {
  width: 25rem;
  padding: 2rem;
}
.swagger {
  padding: 2rem;
}
.imagetitle {
  padding: 2rem;
  max-width: 12rem;
  max-height: 10rem;
}
.logocontainer {
  display: flex;
  vertical-align: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
