<div class='logocontainer'>
  <div>
    <img class="imagetitle" src="assets/angular-jquery.jpg">
  </div>
  <div>
    <img class="imagetitle" src="assets/iut.png">
  </div>
</div>
<div class='logocontainer'>
  <div class="contact">
    <mat-card>
      <div>Julien FAURE</div>
      <a [href]="'mailto:julien.faure515@orange.fr'">
        julien.faure515@orange.fr
      </a>
      <div>
        <a [href]="'https://lpweblannion.herokuapp.com/'">
          https://lpweblannion.herokuapp.com/
        </a>
      </div>
    </mat-card>
  </div>
</div>