<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="toolBarContainer " style="position: fixed;">
  <span class="title">LP WEB Lannion 2019 - Frameworks</span>
  <div>
    <button mat-button routerLink="webApp/home" routerLinkActive="active">
      Home
    </button>
    <button mat-button routerLink="webApp/jquery" routerLinkActive="active">
      Jquery
    </button>
    <button mat-button routerLink="webApp/frameworks" routerLinkActive="active">
      Frameworks Web
    </button>
    <button mat-button routerLink="webApp/angular" routerLinkActive="active">
      Angular
    </button>
    <button mat-button routerLink="/swagger" routerLinkActive="active">
      Swagger
    </button>
  </div>
</mat-toolbar>
<div style="padding-top:80px"></div>
<router-outlet></router-outlet>
