.active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.title {
  margin-right: 50px;
}
mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.toolBarContainer {
  display: flex;
}
