<div class="container">
  <div>
    <img src="assets/angular.png" />
  </div>
  <mat-list>
    <h2 mat-header>IDE en ligne</h2>
    <mat-list-item>
      <a href="https://stackblitz.com/">https://stackblitz.com/</a>
    </mat-list-item>
    <h2 mat-header>Les templates :</h2>
    <mat-list-item>
      <a href="https://stackblitz.com/@JulienF22"
        >https://stackblitz.com/@JulienF22</a
      >
    </mat-list-item>
    <h2 mat-header>Cours</h2>
    <mat-list-item>
      <app-download
        [title]="'Design patterns Promesses et Observable'"
        [link]="'./slides_design/index.html'"
        [directDownload]="false"
        [iframe]="true"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'Design patterns.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Typescript'"
        [iframe]="true"
        [link]="'./slides_typescript/index.html'"
        [directDownload]="false"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'TypeScript.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Angular'"
        [iframe]="true"
        [link]="'./slides_angular/index.html'"
        [directDownload]="false"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'angular.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
    <h2 mat-header>Examples</h2>

    <mat-list-item>
      <app-download
        [title]="'Repo Git des examples vues en cours'"
        [link]="'https://gitlab.com/LP_WEB_Lannion'"
        [directDownload]="false"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Examples angular vus en cours'"
        [link]="'./angularapp/index.html'"
        [directDownload]="false"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Examples app deezer vue en cours'"
        [link]="'./deezerapp/index.html'"
        [directDownload]="false"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-list>
    <h2 mat-header>Projet</h2>

    <mat-list-item>
      <app-download
        [title]="'Specification du projet'"
        [iframe]="true"
        [link]="'./slides_projet/index.html'"
        [directDownload]="false"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'projet.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Example de projet pokemon'"
        [link]="'./pokeapp/index.html'"
        [directDownload]="false"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
  </mat-list>
</div>
