<div class="container">
  <div>
    <img src="assets/jquery.png" />
  </div>
  <mat-list>
    <mat-list-item>
      <app-download
        [title]="'Cours jquery'"
        [link]="'./slides_jquery/index.html'"
        [directDownload]="false"
        [iframe]="true"
      ></app-download>
      <app-download
        [title]="'pdf'"
        [link]="'Jquery_cours.pdf'"
        [directDownload]="true"
      ></app-download>

      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Exo 1 template'"
        [link]="'exo1empty.html'"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Exo 2 template'"
        [link]="'exo2empty.html'"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
    <mat-list-item>
      <app-download
        [title]="'Exo 3 template'"
        [link]="'exo3empty.html'"
      ></app-download>
      <mat-divider> </mat-divider>
    </mat-list-item>
  </mat-list>
</div>
